@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --secondaryColor: #ff7b00;
}

.secondaryColor {
  color: var(--secondaryColor);
}

body {
  background-color: #eaeaea;
  font-family: "Poppins", sans-serif;
  color: #2d2d2d;
  font-size: 14px;
}

.form-control {
  font-size: 14px;
}

/*Navbar*/
/* end navbar */

@media screen and (min-width: 994px) {
  .form-control {
    width: 350px;
  }
}

@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
  }
}

/* Akhir Navbar*/

/* BreadCrumb */
.BreadCrumb {
  margin-top: 100px !important;
}
/* akhir BreadCrumb */

/*Gamabr produk*/
.row-produk {
  background-color: #fff;
  margin: 0;
  padding: 5px;
  padding-top: 16px;
}

/*Gamabr produk*/

/*Garis nama*/
.garis-nama {
  border: 2px solid var(--secondaryColor);
  margin-top: 10px;
  margin-bottom: 25px;
}

/*Akhir Garis nama*/

/*Button Keranjang dan Beli*/
.btn-custom {
  padding: 15px;
  font-size: 14px;
  text-decoration: none;
}

/*Akhir Button Keranjang dan Beli*/

/*Masukkan-id*/
.form-control {
  width: 100%;
  font-size: 0.9rem;
}

.form-group {
  align-items: center;
  width: 100%;
}

.card-body {
  padding: 1rem;
}

/*Akhir Masukkan-id*/

/*Logo Payment*/
.logo-payment {
  width: 100%;
}
/*Akhir Logo Payment*/

/*info-top*/
.info-top {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/*Akhir info-top*/

/*info-top img*/
.info-top img {
  height: 20px;
  -o-object-fit: contain;
  object-fit: contain;
}
/*Akhir info-top img*/

.option_item .checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.option_inner {
  cursor: pointer;
  transition: 0.2s;
}

.option_inner:hover {
  border: inset 0.5px solid var(--secondaryColor);
  background-color: #ffb26b;
  color: #fff;
}

.payment_inner:hover {
  border: inset 0.5px solid var(--secondaryColor);
  background-color: #ffb26b;
  color: #fff;
}

.payment_inner {
  cursor: pointer;
  transition: 0.2s;
}

.list-nominal {
  border-radius: 5px;
  overflow: hidden;
}

.option_item .checkbox:checked ~ .option_inner {
  background-color: #ff8e24 !important;
  color: #fff;

  /* background-color: rgb(206, 206, 0) !important;
  color: #fff; */
}

/* payment */
.payment_item .checkbox {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.payment {
  border-radius: 5px;
  overflow: hidden;
}

.payment_item .checkbox:checked ~ .payment_inner {
  background-color: #ff8e24 !important;
  color: #fff;
}
/* end payment */
